.main-alarma{
font-family: 'Courier New', monospace;
background: #0f1c2e;
display: flex;
justify-content: center;
align-items: center;
}
/*Ventana Emergente*/
.modal{
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
}

.modal-content{
background-color: white;
padding: 20px;
border-radius: 5px;
width: 80%;
max-width: 500px;
position: relative;
border: 8px solid black;
}
.close{
position: absolute;
top: 1px;
right: 3px;
font-size: 34px;
cursor: pointer;
color: red;
}

.div-semana{
display: flex;
justify-content: center;
align-items: center;
}

.input-semana{
flex:1;
}
/*Tabla*/
table {
  width: 100%;
  border: 1px solid;
  margin-top: 20px;
}

th {
  background-color: #4a4a4a;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
  background: red linear-gradient(white, #4a4a4a);
  background-color: #4a4a4a;
}
.table-alarma{
  width:600px;
}


